@{
    ViewData["Title"] = "Register | Login";
}

<div class="jumbotron bg-info text-white">
    <h1 class="text-center">Welcome to TheWall</h1>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        <partial name="_Register"/>
    </div>
    <div class="col-lg-4 mb-4">
        <partial name="_Login"/>
    </div>
</div>